body {
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  background-color: #2379BD;
  border-color: #2379BD;
}

.page-item.active .page-link {
  background-color: #2379BD;
  border-color: #2379BD;
}

.page-link {
  color: #2379BD;
}

.container {
  max-width: 960px !important;
}

.extra-info {
  height: 45px;
  background-color: #2379BD;
}

.extra-info .social a {
  color: #fff;
}

.extra-info .container {
  height: 45px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.logo-menu {
  height: 100px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.logo-menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo-menu .container .navbar-nav .nav-item a {
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  color: #666666;
}

.logo-menu .container .navbar-nav .nav-item a.active {
  font-weight: 400;
  color: #2379BD;
}

.cover-image {
  background-image: url(../images/overlay.png);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.cover-image.home .container {
  height: 400px;
}

.cover-image.inside {
  height: 200px !important;
}

.cover-image.inside-contato {
  height: 450px !important;
}

.cover-image > .container {
  height: 100%;
}


.cover-image > .container h1 {
  color: #fff;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  font-weight: 200;
}

.cover-image > .container ul {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  color: #fff;
}

.cover-image > .container ul li {
  list-style-type: none;
  font-weight: 300;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
}

.com-content-article .page-header h1 {
  color: #666;
  font-weight: 300;
}

.com-content-article p, li {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8em;
}

footer {
  background-color: #2379BD;
}

footer .container {
  height: 110px;
}

footer .container > div {
  width: 50%;
}

footer .container > div h5 {
  color: #fff;
  font-size: 16px;
}

footer .container > div ul {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  list-style: none;
  padding: 0;
}

footer .container > div .copy-right {
  color: #fff;
}

footer .container > .copy-right span {
  color: #fff !important;
}

footer .container > .copy-right p {
  font-weight: 300;
  color: #fff;
}

.news-box {
  padding-top: 80px;
}

.news-item {
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.news-item .image-preview {
  width: 300px; 
  height: 210px; 
  background-size: cover;
  border-radius: 8px 0px 0px 8px;
}

.news-item .text {
  flex: 1;
  padding: 10px 20px;
}

.news-item .text h2 {
  font-size: 1.5rem;
  color:rgba(0, 0, 0, 0.6);
  font-weight: 300;
}

.news-item .text p {
  text-align: justify;
}

.content-box {
  padding-top: 60px;
  width: 100%;
}

.content-box .card .card-body {
  width: 130%;
}

.content-box .card .card-body h5 {
  font-size: 1.5rem;
  color:rgba(0, 0, 0, 0.6);
  font-weight: 300;
}

.content-box .card .card-body p {
  text-align: justify;
}

.articles-widget h5 a {
  font-size: 1.5rem;
  color:rgba(0, 0, 0, 0.6);
  font-weight: 300;
  text-decoration: none;
}

.moduletable h3 {
  font-size: 1.7rem;
  color:rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.item-page .item-image img {
  width: 100%;
  max-width: 100% !important;
}

.ba-form-page {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-overlay-map {
  position: absolute;
  width: 100%;
  height: 30px;
  box-shadow: inset 0px 2px 4px rgb(0 0 0 / 25%);
}

.bottom-overlay-map {
  position: relative;
  width: 100%;
  height: 10px;
  margin-top: -10px;
  box-shadow: inset 0px -12px 11px -14px rgba(0,0,0,0.75);
}

@media (max-width: 990px) {
  .navbar .navbar-collapse.collapse.show {
    padding: 10px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}